.login {
    
    width: 400px;
    height: 600px;
}

.logo {
    
    width: 300px;
    height: 250px;
    margin: auto;
}

.background-image {
    background-image: url('https://www.goredforwomen.org/-/media/Images/Health-Topics/Consumer-Healthcare/man-talking-to-woman-doctor.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  