.login {
    
    width: 400px;
    height: 600px;
}

.logo {
    
    width: 200px;
    height: 100px;
    margin: auto;
}



  
  
  .background-image {
    background-image: url('https://thumbs.dreamstime.com/b/doctor-con-el-fondo-m%C3%A9dico-24834402.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
  }