.login {
    
    width: 400px;
    height: 600px;
}

.logo {
    
    width: 200px;
    height: 100px;
    margin: auto;
}



  
  
  .background-image {
    background-image: url('https://sanjuandedios.pe/clinicaarequipa/assets/images/bg-sctFormH.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
  }