@import "~@fortawesome/fontawesome-svg-core/styles.css";

#esp_11 {
  background-color: rgba(0, 255, 170, 0.925);
}

#esp_12 {
  background-color: rgba(0, 255, 98, 0.925);
}
#esp_13 {
  background-color: rgba(25, 117, 204, 0.925);
}
#esp_21 {
  background-color: rgba(11, 141, 39, 0.568);
}
#esp_22 {
  background-color: rgba(0, 204, 255, 0.925);
}
