.background{
    background-image:url(https://thumbs.dreamstime.com/b/doctor-con-el-fondo-m%C3%A9dico-24834402.jpg) ;
    
 }

 .background1{
    background-image:url(https://www.medicosonline.cl/themes/default/images/slider/slider1.jpg) ;
    
 }
 .background2{
    background: white;
    
 }