

    img:hover {
       
        
        box-shadow: 0px 0px 15px 15px #2d1ff3;
        -webkit-box-shadow: 0px 0px 15px 15px #1e21ec;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }